In [41]:
import requests
import pandas as pd
import json

key = "472690ea187498e21bf4772871eb3df3"
url = "https://api.themoviedb.org/3/movie/76341?api_key={}".format(key)

r = requests.get(url, auth=('user', 'pass'))
with open("movie1.json","w") as movie1:
    json.dump(r.json(), movie1)

with open("movie1.json") as movie1:
    data = json.load(movie1)
    
Mad_max=pd.DataFrame.from_dict(data, orient='index').T
Mad_max.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/nlCHUWjY9XWbuEUQauCBgnY8ymF.jpg,"{'id': 8945, 'name': 'Mad Max Collection', 'po...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.warnerbros.com/movies/mad-max-fury...,76341,tt1392190,en,Mad Max: Fury Road,...,2015-05-13,378858340,121,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,What a Lovely Day.,Mad Max: Fury Road,False,7.5,17647

In [42]:
Mad_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  1 non-null      object
 1   backdrop_path          1 non-null      object
 2   belongs_to_collection  1 non-null      object
 3   budget                 1 non-null      object
 4   genres                 1 non-null      object
 5   homepage               1 non-null      object
 6   id                     1 non-null      object
 7   imdb_id                1 non-null      object
 8   original_language      1 non-null      object
 9   original_title         1 non-null      object
 10  overview               1 non-null      object
 11  popularity             1 non-null      object
 12  poster_path            1 non-null      object
 13  production_companies   1 non-null      object
 14  production_countries   1 non-null      object
 15  release_date           1 non-null      object
 16  revenue                1 non-null      object
 17  runtime                1 non-null      object
 18  spoken_languages       1 non-null      object
 19  status                 1 non-null      object
 20  tagline                1 non-null      object
 21  title                  1 non-null      object
 22  video                  1 non-null      object
 23  vote_average           1 non-null      object
 24  vote_count             1 non-null      object
dtypes: object(25)
memory usage: 328.0+ bytes

In [69]:
from datetime import datetime
movie_id_url = "http://files.tmdb.org/p/exports/movie_ids_{}.json.gz".format(datetime.today().strftime("%m_%d_%Y"))
print(movie_id_url)

filename = movie_id_url.split("/")[-1]
with open(filename, "wb") as f:
    movie_id = requests.get(movie_id_url)
    f.write(movie_id.content)
    
import gzip
import shutil
with gzip.open(filename, 'rb') as s_file, open("movie_id.json", 'wb') as d_file:
    shutil.copyfileobj(s_file, d_file, 65536)

http://files.tmdb.org/p/exports/movie_ids_02_23_2021.json.gz

In [113]:
with open("movie_id.json", "r", encoding = "utf-8") as movie_id:
    with open("movie.json", "w") as movie:
        movie.write(movie_id.readline())
    movies = pd.read_json("movie.json", orient="index").T
    
    for i in range(0, 1000):
        try:
            with open("movie.json", "w") as movie:
                movie.write(movie_id.readline())
        except:
            continue
        movies = movies.append(pd.read_json("movie.json", orient="index").T)

In [114]:
movies.head()

   adult     id                      original_title popularity  video
0  False   3924                             Blondie      2.413  False
0  False   6124                 Der Mann ohne Namen        0.6  False
0  False   8773                 L'amour ï¿½ vingt ans      3.593  False
0  False  25449  New World Disorder 9: Never Enough      2.585  False
0  False  31975      Sesame Street: Elmo Loves You!      1.263   True

In [115]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 957 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   adult           957 non-null    object
 1   id              957 non-null    object
 2   original_title  957 non-null    object
 3   popularity      957 non-null    object
 4   video           957 non-null    object
dtypes: object(5)
memory usage: 44.9+ KB

In [ ]:
if __name__=="__main__":
    #Authentication parameters
    headers = { 'AccountKey' : '472690ea187498e21bf4772871eb3df3',
                'accept' : 'application/json'} #this is by default
    
    #API parameters
    uri = 'http://datamall2.mytransport.sg/' #Resource URL
    path = 'ltaodataservice/BusArrivalv2?BusStopCode=83139'
    
    #Build query string & specify type of API call
    target = urlparse(uri + path)
    print(target.geturl())
    method = 'GET'
    body = ''

    #Get handle to http
    h = http.Http()

    #Obtain results
    response, content = h.request(target.geturl(),
                                    method,
                                    body,
                                    headers)
    #Parse JSON to print
    jsonObj = json.loads(content)
    print(json.dumps(jsonObj, sort_keys=True, indent=4))

    #Save result to file|
    with open("bus_routes.json","w") as outfile: #Saving jsonObj["d"]
        json.dump(jsonObj, outfile, sort_keys=True, indent=4, ensure_ascii=False)

In [ ]:
if __name__=="__main__":
    #Authentication parameters
    headers = { 'AccountKey' : '472690ea187498e21bf4772871eb3df3',
                'accept' : 'application/json'} #this is by default
    
    #API parameters
    uri = 'http://datamall2.mytransport.sg/' #Resource URL
    path = 'ltaodataservice/BusArrivalv2?BusStopCode=83139'
    
    #Build query string & specify type of API call
    target = urlparse(uri + path)
    print(target.geturl())
    method = 'GET'
    body = ''

    #Get handle to http
    h = http.Http()

    #Obtain results
    response, content = h.request(target.geturl(),
                                    method,
                                    body,
                                    headers)
    #Parse JSON to print
    jsonObj = json.loads(content)
    print(json.dumps(jsonObj, sort_keys=True, indent=4))

    #Save result to file|
    with open("bus_routes.json","w") as outfile: #Saving jsonObj["d"]
        json.dump(jsonObj, outfile, sort_keys=True, indent=4, ensure_ascii=False)

In [20]:
import json
import urllib
from urllib.parse import urlparse
import httplib2 as http #External library

if __name__=="__main__":
    #Authentication parameters
    headers = { 'AccountKey' : 'opoOfz6bTza7BMCTCy8VFA==',
                'accept' : 'application/json'} #this is by default
    
    #API parameters
    uri = 'http://datamall2.mytransport.sg/' #Resource URL
    path = 'ltaodataservice/BusArrivalv2?BusStopCode=83139'
    
    #Build query string & specify type of API call
    target = urlparse(uri + path)
    print(target.geturl())
    method = 'GET'
    body = ''

    #Get handle to http
    h = http.Http()

    #Obtain results
    response, content = h.request(target.geturl(),
                                    method,
                                    body,
                                    headers)
    #Parse JSON to print
    jsonObj = json.loads(content)
    print(json.dumps(jsonObj, sort_keys=True, indent=4))

    #Save result to file|
    with open("bus_routes.json","w") as outfile: #Saving jsonObj["d"]
        json.dump(jsonObj, outfile, sort_keys=True, indent=4, ensure_ascii=False)

http://datamall2.mytransport.sg/ltaodataservice/BusArrivalv2?BusStopCode=83139
{
    "BusStopCode": "83139",
    "Services": [
        {
            "NextBus": {
                "DestinationCode": "77009",
                "EstimatedArrival": "2021-02-23T21:51:50+08:00",
                "Feature": "WAB",
                "Latitude": "1.323219",
                "Load": "SEA",
                "Longitude": "103.90555016666667",
                "OriginCode": "77009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus2": {
                "DestinationCode": "77009",
                "EstimatedArrival": "2021-02-23T22:06:14+08:00",
                "Feature": "WAB",
                "Latitude": "1.3469045",
                "Load": "SEA",
                "Longitude": "103.93230016666666",
                "OriginCode": "77009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus3": {
                "DestinationCode": "77009",
                "EstimatedArrival": "2021-02-23T22:20:28+08:00",
                "Feature": "WAB",
                "Latitude": "1.3603548333333333",
                "Load": "SEA",
                "Longitude": "103.944243",
                "OriginCode": "77009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "Operator": "GAS",
            "ServiceNo": "15"
        },
        {
            "NextBus": {
                "DestinationCode": "82009",
                "EstimatedArrival": "2021-02-23T22:09:27+08:00",
                "Feature": "WAB",
                "Latitude": "0",
                "Load": "SEA",
                "Longitude": "0",
                "OriginCode": "82009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus2": {
                "DestinationCode": "82009",
                "EstimatedArrival": "2021-02-23T22:23:27+08:00",
                "Feature": "WAB",
                "Latitude": "0",
                "Load": "SEA",
                "Longitude": "0",
                "OriginCode": "82009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus3": {
                "DestinationCode": "",
                "EstimatedArrival": "",
                "Feature": "",
                "Latitude": "",
                "Load": "",
                "Longitude": "",
                "OriginCode": "",
                "Type": "",
                "VisitNumber": ""
            },
            "Operator": "SBST",
            "ServiceNo": "150"
        },
        {
            "NextBus": {
                "DestinationCode": "84009",
                "EstimatedArrival": "2021-02-23T21:53:51+08:00",
                "Feature": "WAB",
                "Latitude": "1.3178",
                "Load": "SEA",
                "Longitude": "103.897665",
                "OriginCode": "52009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus2": {
                "DestinationCode": "84009",
                "EstimatedArrival": "2021-02-23T22:07:57+08:00",
                "Feature": "WAB",
                "Latitude": "1.3239068333333333",
                "Load": "SEA",
                "Longitude": "103.88565833333334",
                "OriginCode": "52009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "NextBus3": {
                "DestinationCode": "84009",
                "EstimatedArrival": "2021-02-23T22:21:26+08:00",
                "Feature": "WAB",
                "Latitude": "1.343014",
                "Load": "SEA",
                "Longitude": "103.870151",
                "OriginCode": "52009",
                "Type": "SD",
                "VisitNumber": "1"
            },
            "Operator": "SBST",
            "ServiceNo": "155"
        }
    ],
    "odata.metadata": "http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element"
}

In [67]:
busurl = 'http://datamall2.mytransport.sg/ltaodataservice/BusArrivalv2?BusStopCode=83139'
headers = { 'AccountKey' : 'opoOfz6bTza7BMCTCy8VFA==',
                'accept' : 'application/json'}
bus = requests.get(busurl, headers=headers)

bus.text

'{"odata.metadata":"http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element","BusStopCode":"83139","Services":[{"ServiceNo":"15","Operator":"GAS","NextBus":{"OriginCode":"77009","DestinationCode":"77009","EstimatedArrival":"2021-02-23T23:42:20+08:00","Latitude":"1.3159893333333335","Longitude":"103.9056865","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"},"NextBus2":{"OriginCode":"","DestinationCode":"","EstimatedArrival":"","Latitude":"","Longitude":"","VisitNumber":"","Load":"","Feature":"","Type":""},"NextBus3":{"OriginCode":"","DestinationCode":"","EstimatedArrival":"","Latitude":"","Longitude":"","VisitNumber":"","Load":"","Feature":"","Type":""}},{"ServiceNo":"155","Operator":"SBST","NextBus":{"OriginCode":"52009","DestinationCode":"84009","EstimatedArrival":"2021-02-23T23:51:32+08:00","Latitude":"1.318812","Longitude":"103.88557733333333","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"},"NextBus2":{"OriginCode":"52009","DestinationCode":"84009","EstimatedArrival":"2021-02-24T00:01:39+08:00","Latitude":"1.3273185","Longitude":"103.88515583333333","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"},"NextBus3":{"OriginCode":"52009","DestinationCode":"84009","EstimatedArrival":"2021-02-24T00:19:36+08:00","Latitude":"1.3325788333333333","Longitude":"103.85155766666666","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"}}]}'