In [72]:
import geocoder
g=geocoder.ip("me")
location = g.latlng
print(location)

[1.2897, 103.8501]

In [56]:
import pandas as pd
import requests
import json
from datetime import datetime

#GSheets Stuff
import gspread
from df2gspread import df2gspread as d2g
from df2gspread import gspread2df as g2d
from oauth2client.service_account import ServiceAccountCredentials

#Credential stuff
scope = ["https://spreadsheets.google.com/feeds",
        "https://www.googleapis.com/auth/drive"]
credentials = ServiceAccountCredentials.from_json_keyfile_name("./creds.json", scope)
gc = gspread.authorize(credentials)

#Get location data from one set on LTA data
spreadsheet_key = "1J6c50eUbTeOLbMQ88dTpB5lV_fEg2l9Ke2rdhVGW9Mw"
wks_name = 'Sheet1'
df = g2d.download(spreadsheet_key, wks_name, col_names=False, row_names=False, credentials=credentials, start_cell='A1')
df.head()

df[3] = df[3].str.split(" ", n=1, expand=False)
latlng = pd.DataFrame(df[3].to_list(), columns=['lat', 'lng'])
latlng.insert(0, 'ID', df[0])
latlng['lat'] = pd.to_numeric(latlng['lat'], errors='coerce')
latlng['lng'] = pd.to_numeric(latlng['lng'], errors='coerce')

latlng.head()

  ID      lat        lng
0  1  1.29375  103.85718
1  2  1.29115  103.85728
2  3  1.29382  103.85319
3  4  1.29011  103.85561
4  5  1.29251  103.86009

In [61]:
radius = 0.005
near_me = pd.DataFrame(latlng[abs(latlng['lat'] - location[0]) < radius])
near_me = pd.DataFrame(near_me[abs(near_me['lng'] - location[1]) < radius])
near_me.head()

       ID       lat         lng
2       3  1.293820  103.853190
34     56  1.290270  103.851670
37     59  1.290678  103.846480
44     66  1.291100  103.850200
47  A0011  1.293926  103.848866

In [62]:
near_me.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 2 to 573
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8 non-null      object
 1   lat     8 non-null      float64
 2   lng     8 non-null      float64
dtypes: float64(2), object(1)
memory usage: 256.0+ bytes

In [74]:
ID = list(near_me["ID"])
ID

['3', '56', '59', '66', 'A0011', 'C0133', 'H0024', 'HLM']